.whishlist{
    display: flex;
    flex-direction: column;
    padding: 20px 5%;
    gap: 20px;
    color: var(--light-1);
    background: var(--dark-1);
    min-height: calc(100vh - 112px);
}

.wishlist-search{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.wishlist-search img{
    position: absolute;
    width: 24px;
    height: 24px;
    right: 12px;
    cursor: pointer;
}

.wishlist-search input{
    background: var(--dark-2);
    padding: 16px;
    border: none;
    outline: none;
    border-radius: 8px;
    color: var(--light-1);
    width: calc(33.33% - 46px);
}

.wishlist-search input::placeholder{
    color: var(--light-3);
}

.wishlist-items{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr)); 
    justify-content: space-between;
}

.wishlist-empty{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 72px);
    background: var(--dark-1);
    color: var(--light-1);
    width: 100%;
}

@media (max-width: 1200px) {
    .wishlist-items{
        grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), 1fr)); 
    }

    .wishlist-search input{
        width: calc(50% - 42px);
    }
}

@media(max-width: 992px){
    .whishlist {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .wishlist-search input{
        width: 100%;
    }

    .wishlist-items{
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); 
    }
}
