.create{
    display: flex;
    padding: 20px 10%;
    color: var(--light-1);
    background: var(--dark-1);
    min-height: calc(100vh - 112px);
}

.create form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.createButtons{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}

.createButtons button{
    padding: 14px 20px;
    font-size: medium;
    background: var(--dark-2);
    color: var(--light-1);
    border: none;
    border-radius: 8px;
}

.createInputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20%;
}

.inputBlock{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.inputBlock input{
    padding: 16px;
    border: none;
    outline: none;
    background: var(--dark-2);
    border-radius: 8px;
    color: var(--light-1);
}

.uploads{
    text-transform: capitalize;
}

.dropArea{
    margin-top: 4px;
    background-color: var(--dark-2);
    border-radius: 8px;
    padding: 12px;
    position: relative;
    height: 100px;
}

.uploads input{
    display: none;
}

.uploads label{
    cursor: pointer;
    position: absolute;
    bottom: 12px;
    padding: 14px 20px;
    background-color: var(--dark-1);
    color: var(--light-1);
    border-radius: 8px;
}

.fileList{
    display: flex;
    margin-top: 12px;
    gap: 12px;
    max-width: 100%;
    flex-wrap: wrap;
}

.fileItem{
    display: flex;
    width: fit-content;
    align-items: center;
    background-color: var(--dark-2);
    padding: 13px 20px;
    border-radius: 8px;
}

.fileItem p{
    width: 100%;
}

.fileItem img{
    width: 24px;
    height: 24px;
    margin-left: 12px;
    cursor: pointer;
}

@media(max-width: 1024px){
    .createInputs{
        padding: 0;
    }
}


@media(max-width: 768px){
    .create{
        padding: 20px;
    }
}