.login{
    padding: 20px;
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: row-reverse;
    color: var(--light-1);
    background: var(--dark-1);
}

.login-images{
    width: 100%;
    display: flex;
    gap: 20px;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    scroll-padding: 0 ; 
    scroll-behavior: smooth;
    border-radius: 16px;
}

.login-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    box-sizing: border-box;
    flex-shrink: 0;
    scroll-snap-align: center; 
    cursor: pointer;
    filter:hue-rotate();
}

.login-logo{
    position: absolute;
    top: 40px;
    left: 40px;
    color: var(--red);
}

.login-logo hr{
    margin-top: 0;
}

.login-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
}

.login-form span{
    display: flex;
    gap: 8px;
}

.login-form a{
    color: var(--light-1);
}

.login-form a:hover{
    color: var(--red);
}

.login-form input{
    padding: 16px;
    border-radius: 8px;
    border: none;
    background: var(--light-1);
    color: var(--red);
}

.login-form input:focus{
    outline: 1px solid var(--red);
}

.login-password{
    position: relative;
    display: flex;
    align-items: center;
}

.login-password input{
    width: 100%;
}

.login-password img{
    position: absolute;
    cursor: pointer;
    width: 24px;
    height: 24px;
    right: 16px;
}

.login-form button{
    padding: 16px;
    border: none;
    border-radius: 8px;
    background: var(--red);
    color: var(--light-1);
    cursor: pointer;
}

.login-form button:hover{
    background: var(--light-1);
    color: var(--red);
}

@media (max-width: 992px){
    .login{
        gap: 20px;
        overflow-x: auto; 
        scroll-snap-type: x mandatory; 
        scroll-behavior: smooth;
    }
    
    .login-images, .login-form {
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        scroll-snap-align: center; 
    }

    .login-images{
        overflow-y: auto; 
        flex-direction: column;
        scroll-snap-type: y mandatory; 
    }

    .login-form form{
        width: 70%;
    }
}

@media (max-width: 576px) {
    .login-form form{
        width: 90%;
    }
}