.topbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--red);
    padding: 20px 5%;
}

.topbar h4{
    font-size: x-large;
    color: var(--light-1);
}

.topbar a{
    text-decoration: none;
    color: var(--light-1);
    cursor: pointer;
    align-items: center;
}

.topbar h6{
    font-size: large;
}

.topbar-options{
    display: flex;
    align-items: center;
    gap: 20px;
}

.topbar-options h6, .topbar-dropdown-options h6{
    width: fit-content;
    align-items: center;
}

.topbar-options h6::after, .topbar-dropdown-options h6::after{
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: var(--light-1);
    transition: width 0.3s ease;
}

.topbar-options h6:hover::after, .topbar-dropdown-options h6:hover::after{
    width: 100%;
}

.topbar-options img{
    width: 24px;
    height: 24px;
}

.topbar-dropdown{
    display: none;
}

.topbar-dropdown img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.topbar-dropdown-options{
    position: absolute;
    padding: 20px;
    width: 114px;
    right: 0;
    top: 52px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: var(--red);
}

/* Topbar.css */
.topbar .active{
    color: var(--dark-1); 
}


@media(max-width: 992px){
    .topbar{
        padding: 20px;
    }
}

@media (max-width: 576px){
    .topbar-options{
        display: none;
    }

    .topbar-dropdown{
        display: contents;
    }
}