.admin-users{
    display: flex;
    flex-direction: column;
    padding: 20px 5%;
    background: var(--dark-1);
    color: var(--light-1);
    height: calc(100vh - 112px);
}

.admin-users-details{
    display: flex;
    gap: 20px;
    overflow: auto;
    margin-top: 16px;
}

.admin-users-table{
    border-collapse: collapse;
    width: 100%;
    background: var(--dark-2);
    border-radius: 8px;
    height: fit-content;
}

.admin-user-details button {
    background: var(--dark-1);
    color: var(--light-1);
    padding: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


.admin-users-table thead{
    position: sticky;
    top: 0px;
    background: var(--dark-3);
}

.admin-user-verify{
    display: flex;
    justify-content: center;
}

.admin-users-table th, .admin-users-table td {
    padding: 16px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.admin-users-table tbody tr{
    cursor: pointer;
}

.admin-users-table th:first-child{
    border-top-left-radius: 8px;
}

.admin-users-table th:last-child{
    border-top-right-radius: 8px;
}

.admin-users-table tr td img{
    width: 24px;
}

.admin-user-verify-button{
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.admin-users-table tr td .remove,
.admin-users-table tr td .verify,
.admin-user-details .verify,
.admin-user-details .remove{
    padding: 8px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    color: var(--light-1);
    min-width: 80px;
}

.admin-users-table tr td .remove,
.admin-user-details .remove{
    background: var(--red);
}

.admin-users-table tr td .verify,
.admin-user-details .verify{
    background: var(--green);
}

.admin-users-table tr:hover{
    background-color: var(--dark-1);
}

.admin-users-table tr td:nth-last-child(3), .admin-users-table tr td:last-child{
    text-transform: capitalize;
}

.admin-user-details, 
.admin-user-empty{
    flex: 0 0 25%;
    box-sizing: border-box;
    background: var(--dark-2);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: fit-content;
}

.admin-user-details{
    padding: 8px;
}

.admin-user-empty{
    padding: 16px;
}

.admin-user-details img{
    filter: grayscale(1);
    width: 100%;
    border-radius: 8px;
}

.admin-user-details p{
    padding: 10px;
    background: var(--dark-3);
    border-radius: 8px;
}

.admin-user-details p:nth-last-child(2){
    text-transform: capitalize;
}

.admin-users-empty{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 72px);
    background: var(--dark-1);
    color: var(--light-1);
    width: 100%;
}

.admin-users-empty p{
    text-transform: capitalize;
}

.show{
    display: flex;
}

.not-show{
    display: none;
}

@media(max-width: 1080px){
    .admin-user-empty{
        display: none;
    }

    .admin-user-details{
        flex: 0 0 40%;
    }
}

@media(max-width: 992px){
    .admin-users{
        padding: 20px;
    }
}

@media(max-width: 768px){
    .admin-user-details{
        flex: 0 0 50%;
    }
}

@media(max-width: 496px){
    .admin-user-details{
        flex: 100%;
    }
}
