.orders{
    display: flex;
    flex-direction: column;
    padding: 20px 5%;
    background: var(--dark-1);
    color: var(--light-1);
    min-height: calc(100vh - 112px);
}

.orders-details{
    display: flex;
    gap: 20px;
    overflow: auto;
    margin-top: 16px; 
}

.orders-table{
    border-collapse: collapse;
    width: 100%;
    background: var(--dark-2);
    border-radius: 8px;
    height: fit-content;
}

.orders-table thead{
    position: sticky;
    top: 0px;
    background: var(--dark-3);
}

.orders-table th, .orders-table td {
    padding: 16px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.orders-table th:first-child{
    border-top-left-radius: 8px;
}

.orders-table th:last-child{
    border-top-right-radius: 8px;
}

.orders-table tbody tr:hover {
    background-color: var(--dark-1);
}

.order-details, .order-empty{
    padding: 16px;
    background: var(--dark-2);
    border-radius: 8px;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
}

.order-details button{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background: none;
    border: none;
    outline: none;
    color: var(--light-1);
    align-items: center;
    font-size: medium;
}

.order-items{
    display: flex;
    flex-direction: column;
    background: var(--dark-3);
    padding: 10px;
    border-radius: 4px;
    gap: 10px;
}

.order-items img{
    width: 24px;
    height: 24px;
    filter: none;
}

.order-item-details{
    display: flex;
    justify-content: space-between;
}

.order-item-details p{
    padding: 0 !important;
}

.order-details p{
    padding: 10px;
    background: var(--dark-3);
    border-radius: 4px;
}

.orders-empty{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 112px);
    background: var(--dark-1);
    color: var(--light-1);
    width: 100%;
}

@media(max-width: 992px){
    .users{
        padding: 20px;
    }

    .order-details, .order-empty{
        display: none;
    }
}