.home{
    /* display: flex;
    flex-direction: column; */
    padding: 20px 5%;
    background: var(--dark-1);
    color: var(--light-1);
    min-height: calc(100vh - 112px);
}

.bar{
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
}

.doughnut, .line{
    width: 45%;
    margin-bottom: 20px;
}