.landing{
    padding: 20px;
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: row-reverse;
    color: var(--light-1);
    background: var(--dark-1);
    gap: 20px;
}

.landing-images{
    width: 100%;
    display: flex;
    gap: 20px;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    scroll-padding: 0 ; 
    scroll-behavior: smooth;
    border-radius: 16px;
}

.landing-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    box-sizing: border-box;
    flex-shrink: 0;
    scroll-snap-align: center; 
    cursor: pointer;
    filter:hue-rotate();
}

.landing-logo{
    position: absolute;
    top: 40px;
    left: 40px;
    color: var(--red);
}

.landing-logo hr{
    margin-top: 0;
}

.landing-links{
    display: flex;
    /* flex-direction: column; */
    width: calc(100% - 40px);
    gap: 20px;
}

.landing-customer, .landing-seller, .landing-delivery{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    border: 1px solid var(--light-1);
    height: fit-content;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--dark-2);
}

.landing-links img{
    width: 50px;
    height: 50px;
}

.landing-links h3{
    font-size: 24px;
    text-transform: capitalize;
}

.landing-links a{
    text-transform: capitalize;
    color: var(--light-1);
    text-decoration: none;
    padding: 20px;
    background-color: var(--dark-1);
    border-radius: 8px;
    width: 100px;
    text-align: center;
    box-shadow: 2px 2px var(--light-1);
}

.landing-links a:hover{
    background-color: var(--dark-3);
    box-shadow: 2px 2px var(--red);
    color: var(--red);
}

.landing-links a:active{
    background-color: var(--dark-1);
    box-shadow: none;
    color: var(--light-1);
}

