.landing{
    padding: 20px;
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--light-1);
    background: var(--dark-1);
    gap: 20px;
}

.landing-page{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.landing-page h1{
    font-size: 100px;
    color: var(--red);
}

.landing-links{
    display: flex;
    width: 70%;
    justify-content: center;
    gap: 20px;
}

.landing-customer, .landing-seller, .landing-delivery{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 12px;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--dark-2);
}

.landing-links img{
    width: 50px;
    height: 50px;
}

.landing-links h3{
    font-size: 24px;
    text-transform: capitalize;
}

.landing-links a{
    text-transform: capitalize;
    color: var(--light-1);
    text-decoration: none;
    padding: 10px 20px;
    background-color: var(--red);
    border-radius: 8px;
    width: 100px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.landing-links a:hover{
    box-shadow: 4px 4px var(--dark-3);
    transform: translate(-4px, -4px);
}

.landing-links a:active{
    transform: translate(0px, 0px);
    box-shadow: none;
}


@media(max-width: 1080px){
    .landing-page, .landing-links{
        width: 90%;
    }
}

@media(max-width: 780px){
    .landing-page, .landing-links{
        width: 100%;
    }
}

@media(max-width: 720px){
    .landing-links{
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        overflow: scroll;
    }

    .landing-customer, .landing-seller, .landing-delivery{
        width: 50%;
    }
}

@media(max-width: 480px){
    .landing-customer, .landing-seller, .landing-delivery{
        width: calc(100% - 40px);
    }
}