.cartPage{
    display: flex;
    flex-direction: column;
    padding: 20px 10%;
    gap: 20px;
    color: var(--light-1);
    background: var(--dark-1);
    min-height: calc(100vh - 112px);
}

.cartItems{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr)); /* 3 columns with gap calculation */
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .cartItems{
        grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), 1fr)); /* 2 columns for medium screens */
    }
}

@media (max-width: 768px) {
    .cartPage {
        padding: 20px;
    }

    .cartItems{
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); /* 1 column for small screens */
    }
}
