.cartPage{
    display: flex;
    flex-direction: column;
    padding: 20px 5%;
    gap: 20px;
    color: var(--light-1);
    background: var(--dark-1);
    min-height: calc(100vh - 112px);
}

.cartItems{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr)); 
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .cartItems{
        grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), 1fr)); 
    }
}

@media(max-width: 992px){
    .cartPage {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .cartItems{
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); 
    }
}
