.item{
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 8px;
    background: var(--dark-2);
    height: fit-content;
}

.item-images{
    width: 100%;
    display: flex;
    gap: 20px;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    scroll-padding: 0 ; 
    scroll-behavior: smooth;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.item-images img{
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    scroll-snap-align: center; 
    aspect-ratio: 1/1;
    object-fit: contain;
    background: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
}

.item-details{
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
    justify-content: space-between;
}

.item-details-primary{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-details-primary h3{
    font-size: x-large;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%;
    color: var(--light-1);
}

.item-details-primary p{
    text-transform: capitalize;
    font-size: medium;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%;
    color: var(--light-3);
}

.item-details-secondary{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-details-secondary h3{
    color: var(--green);
    font-size: x-large;
}

.item-details-tertiary{
    display: flex;
}

.item-details-tertiary img{
    width: 24px;
    height: 24px;
}

.item-details-buttons{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.item-details-buttons button{
    position: relative;
    display: flex;
    background: transparent;
    border: none;
    padding: 12px;
    align-items: center;
    outline: none;
    border-radius: 24px;
    color: var(--light-1);
    cursor: pointer;
    transition: background 0.3s ease;
}

.item-details-buttons button:hover{
    background: var(--dark-3);
}


.item-details-buttons img{
    width: 24px;
    height: 24px;
}

.item-details-buttons .buyButton{
    background: var(--green);   
    font-size: large;
}

.item-details-buttons .buyButton:hover{
    background: var(--red);  
}

