.customer-order{
    display: flex;
    flex-direction: column;
    padding: 20px 5%;
    background: var(--dark-1);
    color: var(--light-1);
    min-height: calc(100vh - 112px);
}

.customer-order-details{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--light-1);
}

.customer-order-items{
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 20px;
}

.customer-order-item{
    display: flex;
    text-transform: capitalize;
    background: var(--dark-2);
    border-radius: 8px;
}

.customer-order-item-images{
    width: 40%;
    display: flex;
    gap: 20px;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    scroll-padding: 0 ; 
    scroll-behavior: smooth;
    border-radius: 8px;
}

.customer-order-item-images img{
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    scroll-snap-align: center; 
    aspect-ratio: 1/1;
    object-fit: contain;
    background: white;
    border-radius: 8px;
    cursor: pointer;
}

.customer-order-item-details{
    width: 60%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.customer-order-item-first{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.customer-order-item-first h3{
    font-size: x-large;
    color: var(--green);
}

.customer-order-item-first h4{
    font-size: larger;
    color: var(--green);
}

.customer-order-item-first p{
    color: var(--light-3);
}

.customer-order-item-ratings{
    display: flex;
}

.customer-order-item-ratings img{
    width: 24px;
    height: 24px;
}

.customer-order-item-add-review button{
    padding: 16px;
    border: none;
    outline: none;
    background: var(--dark-1);
    color: var(--light-1);
    border-radius: 8px;
    cursor: pointer;
}

.customer-order-item-second{
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-align: right;
}

.customer-status-completed{
    color: var(--green);
}

.customer-status-pending{
    color: var(--yellow);
}

.customer-order-other-details{
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    text-transform: capitalize;
    text-align: right;
}

.customer-order-other-details span{
    color: var(--green);
}

.customer-order-other-details p{
    font-size: medium;
}

.customer-order-other-details p:last-child{
    font-size: x-large;
}



@media(max-width: 1200px){
    .customer-order-items{
        width: 70%;
    }
}

@media(max-width: 992px){
    .customer-order{
        padding: 20px;
    }
}

@media(max-width: 768px){
    .customer-order-items{
        width: 70%;
    }

    .customer-order-item{
        flex-direction: column;
        width: 80%;
    }

    .customer-order-item-images{
        width: 100%;
    }

    .customer-order-item-details{
        width: calc(100% - 40px);
    }
}

@media(max-width: 576px){
    .customer-order-details{
        flex-direction: column-reverse;
    }

    .customer-order-items{
        width: 100%;
    }

    .customer-order-item{
        flex-direction: row;
        width: 100%;
    }

    .customer-order-item-images{
        width: 40%;
        display: none;
    }

    .customer-order-item-details{
        width: 100%;
    }

    .customer-order-other-details{
        width: 100%;
        padding: 0;
        padding-bottom: 20px;
        text-align: left;
    }
}

@media(max-width: 384px){
    .customer-order-item-details{
        flex-direction: column;
    }

    .customer-order-item-first{
        width: 100%;
    }

    .customer-order-item-ratings{
        display: none;
    }

    .customer-order-item-second{
        margin-top: 10px;
        width: 100%;
        text-align: left;
    }
}