.account{
    display: flex;
    flex-direction: column;
    padding: 20px 5%;
    background: var(--dark-1);
    color: var(--light-1);
    min-height: calc(100vh - 112px);
}

.account h1{
    margin-bottom: 20px;
}

.account-update-form-buttons{
    display: flex;
    gap: 20px;
}

.account-update-form-buttons button{
    padding: 16px 40px;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
}

.account-form{
    display: flex;
    gap: 20px;
}

.account-form-image-div{
    width: 30%;
}

.account-form-image-div img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 8px;
}

.account-update-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.account-update-form-div{
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: center;
}

.account-update-form-div label{
    width: 20%;
}

.account-update-form-div input{
    padding: 16px;
    outline: none;
    border: none;
    width: 80%;
    border-radius: 8px;
    background: var(--light-1);
    color: var(--red);
}

.account-update-form-update-button{
    background: var(--green);
    color: var(--light-1);
}

.account-update-form-logout-button{
    background: var(--dark-2);
    color: var(--light-1);
}

.account-update-form-delete-button{
    background: var(--red);
    color: var(--light-1);
}

@media(max-width: 992px){
    .account{
        padding: 20px;
    }

    .account-update-form{
        width: 70%;
    }
}

@media(max-width: 768px){
    .account-form{
        flex-direction: column;
        align-items: center;
    }

    .account-form-image-div, .account-update-form{
        width: 100%;
    }
}

@media(max-width: 576px){
    .account-form-image-div, .account-update-form{
        width: 100%;
    }

    .account-update-form-buttons{
        flex-direction: column;
    }

    .account-update-form-buttons button{
        width: 100%;
    }

    .account-update-form{
        gap: 20px;
    }

    .account-update-form-div{
        flex-direction: column;
        width: 100%;
        gap: 4px;
        align-items: start;
    }

    .account-update-form-div input{
        width: calc(100% - 32px);
    }
}