.seller-transactions{
    display: flex;
    flex-direction: column;
    padding: 20px 5%;
    background: var(--dark-1);
    color: var(--light-1);
    height: calc(100vh - 112px);
}

.seller-tableContainer{
    max-height: 100vh;
    overflow: auto;
    padding: 0;
    margin-top: 16px; 
    border-radius: 8px;
}

.seller-transactionDetails{
    border-collapse: collapse;
    width: 100%;
    background: var(--dark-2);
    border-radius: 8px;
}

.seller-transactionDetails thead{
    position: sticky;
    top: 0px;
    z-index: 2;
    background: var(--dark-3);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.seller-transactionDetails th, .seller-transactionDetails td {
    padding: 16px;
    text-align: center;
    display: table-cell; 
    vertical-align: middle; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.seller-transactionDetails th {
    color: var(--light-1);
    font-weight: bold;
}

.seller-transactionDetails tbody tr td {
    color: var(--light-3);
}

.seller-transactionDetails tbody tr:hover {
    background-color: var(--dark-1);
}

.seller-transactionDetails tbody tr:last-child td {
    border-bottom: none;
}

.seller-transactions-empty{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 112px);
    background: var(--dark-1);
    color: var(--light-1);
    width: 100%;
}

@media(max-width: 992px){
    .seller-transactions{
        padding: 20px;
    }
}