.admin-home{
    /* display: flex;
    flex-direction: column; */
    padding: 20px 5%;
    background: var(--dark-1);
    color: var(--light-1);
    min-height: calc(100vh - 112px);
}

.admin-bar{
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
}

.admin-doughnut, .admin-line{
    width: 45%;
    margin-bottom: 20px;
}

.admin-home-empty{
    display: grid;
    place-content: center;
    height: calc(100vh - 112px);
}