.itemsPage{
    display: flex;
    padding: 20px 5%;
    gap: 20px;
    color: var(--light-1);
    background: var(--dark-1);
    height: calc(100vh - 112px);
    overflow: hidden;
}

.itemsPage-all{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20%;
}

.itemsPage-options{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.itemsPage-sort, .itemsPage-filters{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.itemsPage-filter-and-sort{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.itemsPage-expand{
    display: none;
}

.itemsPage-filters button, .itemsPage-sort button{
    padding: 16px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    text-transform: capitalize;
    cursor: pointer;
    background: var(--light-1);
    text-align: start;
}

.itemsPage-sort button img, .itemsPage-filters button img{
    filter: invert(1);
    width: 24px;
    height: 24px;
}

.itemsPage-item-types button, .itemsPage-sort-types button{
    border-radius: 0;
    border: 1px solid black;
}

.itemsPage-item-types button:hover, .itemsPage-sort-types button:hover{
    background: var(--light-3);
}

.itemsPage-item-types button:first-child, .itemsPage-sort-types button:first-child{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.itemsPage-item-types button:last-child, .itemsPage-sort-types button:last-child{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: 1px solid black;
}

.itemsPage-search, .itemsPage-filters button, .itemsPage-sort button{
    position: relative;
    display: flex;
    align-items: center;
}

.itemsPage-search img, .itemsPage-filters img, .itemsPage-sort img{
    position: absolute;
    width: 24px;
    height: 24px;
    right: 12px;
    cursor: pointer;
}

.itemsPage-search input{
    background: var(--dark-2);
    padding: 16px;
    border: none;
    border-radius: 8px;
    color: var(--light-1);
    width: 100%;

}

.itemsPage-search input::placeholder{
    color: var(--light-3);
}

.itemsPage-filter-dropdown{
    display: none;
}

.itemsPage-items{
    display: grid;
    gap: 20px;
    width: 80%;
    grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr)); /* 3 columns with gap calculation */
    justify-content: space-between;
    overflow: scroll;
}

@media (max-width: 1200px) {
    .itemsPage-options {
        grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), 1fr)); /* 2 columns for medium screens */
    }
}

@media(max-width: 992px){
    .itemsPage{
        flex-direction: column;
        padding: 20px;
    }

    .itemsPage-all{
        gap: 20px;
        flex-direction: row;
        width: 100%;
        align-items: baseline;
    }

    .itemsPage-filter-and-sort{
        flex-direction: row;
        width: 100%;
    }

    .itemsPage-search input{
        width: 100%;
    }

    .itemsPage-sort{
        width: 100%;
    }

    .itemsPage-filters{
        width: 100%;
    }

    .itemsPage-items{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .itemsPage-options{
        width: 50%;
    }

    .itemsPage-filter-and-sort{
        width: 100%;
    }

    .itemsPage-items{
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); 
    }
}

@media(max-width: 576px){
    .itemsPage-search{
        width: 100%;
    }

    .itemsPage-all{
        flex-direction: column;
        gap: 0;
    }

    .itemsPage-options{
        flex-direction: row;
        align-items: center;
        position: relative;
        width: 100%;
    }

    .itemsPage-filter-and-sort{
        display: none;
    }

    .itemsPage-filter-dropdown{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
    }

    .itemsPage-expand{
        display: contents;
    }

    .itemsPage-expand img{
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    .itemsPage-filter-and-sort-dropdown{
        display: flex;
        gap: 20px;
        margin-top: 20px;
    }
}

@media(max-width: 384px){
    .itemsPage-filter-and-sort-dropdown{
        flex-direction: column;
    }
}