.itemsPage{
    display: flex;
    padding: 20px;
    gap: 20px;
    color: var(--light-1);
    background: var(--dark-1);
    min-height: calc(100vh - 112px);
}

.allOptions{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20%;
}

.itemsOptions{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.itemsSort, .itemsFilters{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.filterAndSort{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filterDropdownIcon{
    display: none;
}

.itemsFilters button, .itemsSort button{
    padding: 16px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    text-transform: capitalize;
    cursor: pointer;
    background: var(--light-1);
    text-align: start;
}

.itemsSort button img, .itemsFilters button img{
    filter: invert(1);
    width: 24px;
    height: 24px;
}

.itemTypes button, .sortTypes button{
    border-radius: 0;
    border: 1px solid black;
}

.itemTypes button:hover, .sortTypes button:hover{
    background: var(--light-3);
}

.itemTypes button:first-child, .sortTypes button:first-child{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.itemTypes button:last-child, .sortTypes button:last-child{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: 1px solid black;
}

.itemsSearch, .itemsFilters button, .itemsSort button{
    position: relative;
    display: flex;
    align-items: center;
}

.itemsSearch img, .itemsFilters img, .itemsSort img{
    position: absolute;
    width: 24px;
    height: 24px;
    right: 12px;
    cursor: pointer;
}

.itemsSearch input{
    background: var(--dark-2);
    padding: 16px;
    border: none;
    border-radius: 8px;
    color: var(--light-1);
    width: 100%;

}

.itemsSearch input::placeholder{
    color: var(--light-3);
}

.filterDropdown{
    display: none;
}

.items {
    display: grid;
    gap: 20px;
    width: 80%;
    grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr)); /* 3 columns with gap calculation */
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .items, .itemsOptions {
        grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), 1fr)); /* 2 columns for medium screens */
    }
}

@media(max-width: 992px){
    .itemsPage{
        flex-direction: column;
    }

    .allOptions{
        gap: 20px;
        flex-direction: row;
        width: 100%;
        align-items: baseline;
    }

    .filterAndSort{
        flex-direction: row;
        width: 100%;
    }

    .itemsSearch input{
        width: 100%;
    }

    .itemsSort{
        width: 100%;
    }

    .itemsFilters{
        width: 100%;
    }

    .items{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .itemsOptions{
        width: 50%;
    }

    .filterAndSort{
        width: 100%;
    }

    .items {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); 
    }
}

@media(max-width: 576px){
    .itemsSearch{
        width: 100%;
    }

    .allOptions{
        flex-direction: column;
        gap: 0;
    }

    .itemsOptions{
        flex-direction: row;
        align-items: center;
        position: relative;
        width: 100%;
    }

    .filterAndSort{
        display: none;
    }

    .filterDropdown{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
    }

    .filterDropdownIcon{
        display: contents;
    }

    .filterDropdownIcon img{
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    .filterAndSortDropdown{
        display: flex;
        gap: 20px;
        margin-top: 20px;
    }
}
