.seller-itemsPage{
    display: flex;
    flex-direction: column;
    padding: 20px 5%;
    gap: 20px;
    color: var(--light-1);
    background: var(--dark-1);
    min-height: calc(100vh - 112px);
}

.seller-itemsSearch{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.seller-itemsSearch img{
    position: absolute;
    width: 24px;
    height: 24px;
    right: 12px;
    cursor: pointer;
}

.seller-itemsSearch input{
    background: var(--dark-2);
    padding: 16px;
    border: none;
    border-radius: 8px;
    color: var(--light-1);
    width: calc(33.33% - 46px);
}

.seller-itemsSearch input:focus{
    outline: 1px solid var(--red);
}

.seller-itemsSearch input::placeholder{
    color: var(--light-3);
}

.seller-items{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr));
    justify-content: space-between;
}

.seller-itemsPage-empty{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 72px);
    width: 100%;
    background: var(--dark-1);
    color: var(--light-1);
}

.seller-itemsPage-empty p{
    text-transform: capitalize;
}

@media (max-width: 1200px){
    .seller-items{
        grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), 1fr));
    }

    .seller-itemsSearch input{
        width: calc(50% - 42px);
    }
}

@media (max-width: 992px){
    .seller-itemsPage{
        padding: 20px;
    }
}
@media(max-width: 768px){
    .seller-itemsSearch input{
        width: 100%;
    }

    .seller-items{
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); 
    }
}
